<div id="journeys-end">

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Info</h2>
				<p class="subhead">{{ element.info|raw }}</p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Fatal errors</h2>
				<p class="subhead">{{ element.fatal|raw }}</p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Probably critical errors</h2>
				<p class="subhead">{{ element.stderr|raw }}</p>
				<p class="subhead">{{ element.error|raw }}</p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Warnings and non critical errors</h2>
				<p class="subhead">{{ element.warning|raw }}</p>
			</div>
		</div>
	</div>


</div>